body {
    margin: 0;
}

.main-page{
    height: 100vh;
    width: 100%;

    background-image: url('./assets/tux-linux.png');
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    border: 1px solid rgb(225, 225, 225, 0.2);
    background:rgba(96, 109, 186, 0.1);
    backdrop-filter: blur(5px);

    border-radius: 30px;
    padding: 1px 100px;
}

button {
    background-color: transparent;
    color: rgb(88, 126, 170);

    border: none;
    border-radius: 80px;
    margin: 20px;
}

.header button:hover {
    transform: scale(1.10) rotate(15deg)
}


.timer-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid rgb(225, 225, 225, 0.2);
    background:rgba(96, 109, 186, 0.1);
    backdrop-filter: blur(5px);

    border-radius: 30px;
}
.timer-buttons button {
    padding: 10px 30px;
    margin: 5px;
    font-size: 20px;
    background-color:rgba(96, 109, 186, 0.1);
}
.timer-buttons button:hover {
    transform: scale(1.10);
}


.display {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(225, 225, 225, 0.2);
    background:rgba(96, 109, 186, 0.1);
    backdrop-filter: blur(5px);

    border-radius: 30px;
    padding: 1px 100px;
    
    width: 30%;
    height: 60%;
    margin: 70px;
}








