body {
    margin: 0;
}

.main-page{
    min-height: 100vh;
    width: 100%;

    background-image: url('./assets/tux-linux.png');
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    border: 1px solid rgb(225, 225, 225, 0.2);
    background:rgba(96, 109, 186, 0.1);
    backdrop-filter: blur(5px);

    border-radius: 30px;
    padding: 1px 100px;
}

.header button {
    background-color: transparent;
    color: rgb(88, 126, 170);

    border: none;
    border-radius: 80px;
    margin: 20px;
}

.header button:hover {
    transform: scale(1.10) rotate(15deg)
}











